#ignore all npy files
*.npy

#ignore image files of image classification challenge
Challenges/Challenge7 - Pokemon Goa Trip/Train/Images/*.jpg
Challenges/Challenge7 - Pokemon Goa Trip/Test/Images/*.jpg
